body {
    margin-top: 60px;
}

#search {
    margin-bottom: 20px;
}

.loading {
    position: relative;
}

.loading:before {
    content: "";
    position: absolute;
    display: block;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}
